.content-page {
    border-radius: 25px 25px 25px 25px;
    background: linear-gradient(135deg, #7c1f88 0%, #35c4bc 100%);
    box-shadow: 0 4px 24px rgba(0,0,0,0.12);
    padding: 20px;
}

.table-responsive-container {
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.table-container{
    min-width: 100%;
    margin-bottom: 1rem;
}

@media(min-width: 480px) {
    .column-drop-css{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .list-users{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
}